# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Logs
*.log

# Test Results
TestResults/

# NuGet
packages/
*.nupkg

# ASP.NET
appsettings.Development.json

# Node
node_modules/

# Angular
dist/
.angular/
coverage/

# OS
Thumbs.db
Desktop.ini
.DS_Store